
h1{
    text-align: center ;
    font-size: 3em;
    position: relative ;
    z-index: 2;
}
.content {
    position: sticky;
    
}
a{
    text-decoration: none ;
    color: black ;
}
.non-ac {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center; /* Center items horizontally */
}

.non {
    width: 17.5em; /* Set a fixed width for larger screens */
    height: 5.5em;
    border: .2em solid black;
    text-align: center;
    margin: 1em;
    background-color: yellow ;
    border-radius: 10.5vw;
    line-height: 5em;
    font-size: 1.05em;
    
}

@media only screen and (max-width: 1768px) {
    .non-ac {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: unset; /* Reset alignment */
    }

    .non {
        width: auto; /* Allow the width to adjust dynamically */
        max-width: 90%; /* Limit the maximum width */
    }
}

@media only screen and (max-width: 480px) {
    .non-ac {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .non {
        width: auto; /* Allow the width to adjust dynamically */
        max-width: 90%; /* Limit the maximum width */
    }
}
h3{
    text-align: center ;
    font-size: 1.5em;
}
.ac-bus {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center; /* Center items horizontally */
}

.ac {
    width: 20em; /* Set a fixed width for larger screens */
    height: 5.5em;
    border: .2em solid black;
    text-align: center;
    margin: 1em;
    background-color: yellow;
    border-radius: 10.5vw;
    line-height: 5em;
    font-size: 1.05em;
    
}

@media only screen and (max-width: 1768px) {
    .ac-bus {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: unset; /* Reset alignment */
    }

    .ac {
        width: auto; /* Allow the width to adjust dynamically */
        max-width: 90%; /* Limit the maximum width */
    }
}

@media only screen and (max-width: 480px) {
    .ac-bus {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

   .ac{
        width: auto; /* Allow the width to adjust dynamically */
        max-width: 90%; /* Limit the maximum width */
    }
}
#element {
   background: linear-gradient(to right, blue, red);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
display: grid;
justify-content: center ;
align-items: center ;
text-align: center ;
font-size: 2.5em;
cursor: none;
}
.text{
    font-size: 2em;
}
h3{
    font-size: 2em;
}
#arrow{
    font-size: 2.1em;
}
